<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> | ThirstAlert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar">
  <div class="container">
    <%= link_to "thirstalert", '#', id: "logo" %>
    <nav>
      <ul class="navbarcenter">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Dudes", '#' %></li>
        <li><%= link_to "Chicks", '#' %></li>
        <li><%= link_to "The_Ex", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">

    <%= yield %>
</div>

</body>
</html>
