<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> | ThirstAlert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ThirstAlert", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "About", 'about' %></li>
        <li><%= link_to "Dudes", 'dudes' %></li>
        <li><%= link_to "Chicks", 'chicks' %></li>
        <li><%= link_to "The Ex", 'the_ex' %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
   <%= yield %>
</div>

</body>
</html>
